h1 {
  font-size: 50px;
  font-family: "Kalnia", serif;
  color: #014c8f;
}

p {
  color: #014c8f;
  font-size: 20px;
}

.overskrift {
  text-align: center;
}

.underline {
  display: inline-block; /* Sørger for, at linjen kun dækker teksten */
  border-bottom: 2px solid #014c8f; /* Stregens tykkelse, farve og stil */
  margin-bottom: 10px; /* Justerer afstanden under linjen */
  padding-bottom: 50px; /* Justerer afstanden mellem tekst og linje */
  text-transform: uppercase; /* Gør teksten til store bogstaver */
}

#underparagraf {
  color: #014c8f;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.kalender {
  background-color: white;
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.kalender img {
  float: right;
}

body {
  margin: 400px;
}

option {
  color: #014c8f;
}

.book {
  background-color: #e14801;
  color: #f2f1ed;
  border: none;
  border-radius: 30px;
  font-family: "Kalnia", serif;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
}

@media (max-width: 700px) {
  body {
    margin: 100px;
  }
}
