* {
  margin: 0;
  padding: 0;
}

.col {
  background-color: var(--farve3);
  margin: 1rem;
  padding: 2rem;
  /* min-width: 350px;
  height: 300px; */
  border-radius: 50px;
  text-align: center;
  text-align: justify;
  display: flex; /* Gør boksen til en flex container */
  justify-content: center; /* Centrerer indholdet vandret */
  align-items: center; /* Centrerer indholdet lodret */
  flex-wrap: wrap; /* Dette gør, at teksten vil bryde linje og tilpasse sig i stedet for at fortsætte uden for boksen. */
}

.grid_1-1-1 {
  padding: 1rem;
  place-content: center;
}
.grid_1-1-1-1-1 {
  margin: 20px;
}

button {
  background-color: var(--farve2);
  padding: 0.5rem;
  border: solid var(--farve4);
  border-radius: 1rem;
}

#h1-2 {
  color: var(--farve4);
  text-align: center;
  margin: 1rem;
}

h1 {
  text-align: center;
  margin: 1.5rem 0rem 0.5rem 0rem;
}

p {
  color: white;
}

.bokstekst {
  color: var(--farve2);
}

.taverna_img {
  display: block; /* Gør billedet til et blok-element */
  margin-left: auto; /* Automatiske marginer på venstre side */
  margin-right: auto; /* Automatiske marginer på højre side */
}
.harmonika_section {
  margin-bottom: 0.1rem; /*mellemrum i mellem boksene*/
  padding: 0.1rem;
}

/* Skjul de faktiske checkboxes */
.harmonika_section input[type="checkbox"] {
  display: none;
}

/* Styling af labelen (som fungerer som knappen til at åbne sektionen) */
.harmonika_section label {
  display: block;
  color: var(--farve1);
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--farve1);
}

/* Styling af indholdet */
.accordion-content {
  display: none;
  padding: 0.5rem 1rem 1rem;
  margin-top: 0.1rem;
}

/* Når checkboxen er valgt, vises indholdet */
.harmonika_section input[type="checkbox"]:checked + label + .accordion-content {
  display: block;
}
/* MEDIA - DESKTOP */
@media (min-width: 700px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid_1-1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
