.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_kort {
  width: 100%;
}

.mainmellemrum {
  margin: 5rem 0 0 0;
}

/* MEDIA - DESKTOP */
@media (min-width: 700px) {
  .menu_kort {
    width: 60%;
  }
}
