h1 {
  font-size: 50px;
  padding: 50px;
  font-family: "Kalnia", serif;
  color: #002fd9;
}

p {
  color: #002fd9;
  font-size: 20px;
}

.overskrift {
  text-align: center;
}

.underline {
  display: inline-block; /* Sørger for, at linjen kun dækker teksten */
  border-bottom: 2px solid #002fd9; /* Stregens tykkelse, farve og stil */
  margin-bottom: 10px; /* Justerer afstanden under linjen */
  padding-bottom: 80px; /* Justerer afstanden mellem tekst og linje */
  text-transform: uppercase; /* Gør teksten til store bogstaver */
}
